.info-box-section {
  z-index: 5;
  position: relative;
  /*border-bottom: 1px solid #ddd;*/
  box-sizing: border-box;
}

.info-box-section:first-child {
  /*border-top: 1px solid #ddd;*/
}

.info-box-section__title {
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  box-sizing: border-box;
  

  display: flex;
  align-items: flex-start;
}

.info-box-section__title-text {
  flex-grow: 1;
  transition: color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #777;
}

.info-box-section:not(.info-box-section--toggled) .info-box-section__title:hover .info-box-section__title-text {
  color: #555;
}

.info-box-section--toggled .info-box-section__title-text {
  color: #4a4a4a;
}


.info-box-section__title-cross {
  transform: rotate(0deg);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    color 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  color: #ccc;
  font-weight: 700;
}

.info-box-section:not(.info-box-section--toggled) .info-box-section__title:hover .info-box-section__title-cross {
  color: #666;
}

.info-box-section--toggled .info-box-section__title-cross {
  transform: rotate(45deg);
  color: #4a4a4a;
}

.info-box-section__content {
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1em;
}

.info-box-section__inner-content {
  padding: 0 20px 10px 20px;
  /*border-top: 1px solid #eee;*/
}

/* !!! hard-coded solution: can hopefully find something better later !!! */

.info-box-section__content dl {
  margin: 0;
}

.info-box-section__content dt {
  font-weight: 600;
  color: #666;
}

.info-box-section__content dd {
  padding-bottom: 0.5em;
  margin: 0;
}

.info-box-section__content p {
  margin: 0;
  line-height: 1.5;
}
