.matrix-legend {
  text-align: center;
  margin: 0 20px;
}

.matrix-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
}

.matrix-legend li {
  margin: 5px;
}
