.matrix-wrapper {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.matrix {
  display: block;
  z-index: 1;
}

.matrix-circle-scale-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.matrix-svg-inner {
  will-change: transform;
}

.matrix-axis-label {
  text-anchor: middle;
  text-transform: uppercase;
  font-size: 1.1428em;
  font-weight: 700;
  will-change: transform;
}

.matrix-y-axis, .matrix-x-axis {
  will-change: transform;
}

.matrix .tick {
  will-change: transform;
}

.matrix .tick text.label {
  font-size: 1.2em;
  /*font-family: 'Open Sans';*/
  font-family: "Segoe UI", Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  will-change: transform;
}

.matrix .tick line {
  stroke: #f1f3f5;
  stroke-width: 20px;
}

.matrix circle {
  cursor: pointer;
  will-change: fill, stroke-width;
  transition: fill 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /*  stroke-width 800ms cubic-bezier(0.215, 0.61, 0.355, 1);*/
  shape-rendering: geometricPrecision;
  stroke-width: 0px;
}

/* circles in background when a project is selected (greyed out) */
.matrix.clicked circle:not(.neighbor):not(.hover) {
  fill: #e2e4e6;
}

/* NOTE: The stroke width transition is buggy when zooming in Chrome,
         don't think there's much we can do about it
 * See: https://stackoverflow.com/a/10145250
 *      https://github.com/d3/d3/pull/476
 *
 *     "Regarding your issues. For # 1, full-page zooming is just broken in WebKit, period.
 *      It looks like crap and events have buggy positions.
 *      If we can workaround bugs in zooming, that's nice,
 *      but given the other issues that remain this doesn't feel
 *      like a strong argument (relative to the above concerns)"
 *      
 *     -mbostock
 */

/* hovered circles */
/*.matrix circle.hover:not(.clicked) {
  stroke-width: 3px;
}*/

/* clicked circles */
/*.matrix circle.clicked.neighbor {
  stroke-width: 5px;
}*/

.matrix circle.neighbor:not(.clicked) {
}

/* colors specific to different project types */

.matrix circle.research {
  /*stroke: hsl(188, 50%, 15%);*/
  fill: hsl(188, 100%, 28%);
}
.matrix circle.research.hover:not(.clicked) {
  fill: hsl(188, 80%, 19%);
}
.matrix circle.research.clicked.neighbor {
  fill: hsl(188, 70%, 15%);
}

.matrix circle.innovation {
  /*stroke: hsl(110, 15%, 30%);*/
  fill: hsl(110, 27%, 66%);
}
.matrix circle.innovation.hover:not(.clicked) {
  fill: hsl(110, 16%, 34%);
}
.matrix circle.innovation.clicked.neighbor {
  fill: hsl(110, 15%, 28%);
}

.matrix circle.prestudy {
  /*stroke: hsl(39, 50%, 25%);*/
  fill: hsl(39, 100%, 46%);
}
.matrix circle.prestudy.hover:not(.clicked) {
  fill: hsl(39, 80%, 30%);
}
.matrix circle.prestudy.clicked.neighbor {
  fill: hsl(39, 70%, 24%);
}

