.matrix-tooltip {
  position: absolute;
  background: #4a4c4d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: inline;
  transform: translate(-50%, -100%);
  max-width: 250px;
  font-size: 0.92857em;
  pointer-events: none;
  z-index: 3;
}

.matrix-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4a4c4d transparent transparent transparent;
}
