.filters {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
}

.filters div:last-child {
  margin-bottom: 0;
}

.filters h2 {
  font-size: 1.1428em;
  font-weight: 700;
  margin: 5px 0 10px 0;
  text-align: center;
}

.filters-box {
  margin-bottom: 15px;
}

.filters-box__title {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.92857em;
  color: #666;
  margin-left: 1em;
  margin-bottom: 5px;
}

.filters .rw-multiselect {
  font-size: 14px;
}

.filters .rw-multiselect input {
  /* !!! IMPORTANT!!! 
   * Fixes width overflow bug caused MultiSelect
   * setting the size attribute on the inputs
   */
  width: 100%; 
}

/* multiselect input closed */
.filters-box .rw-multiselect .rw-widget-input {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

/* multiselect input open */
.filters-box .rw-multiselect.rw-open .rw-widget-input {
}

/* multiselect option list */
.filters-box .rw-multiselect .rw-popup-container {
  box-shadow: none;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.filters-box .rw-multiselect .rw-popup-transition {
  padding: 0;
  margin: 0;
}

.filters-box .rw-multiselect .rw-popup {
  border: none;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* filter options item */

.filters-item {
  display: flex;
}

.filters-item__name {
  flex-grow: 1;
}

.filters-item__count {
  margin-left: 5px;
  color: #999;
}

.filters-results-text {
  text-align: center;
  font-size: 0.92857em;
  color: #666;
  margin: 10px 0;
}

.filters-results-text--hidden {
  display: none;
}

.filters-results-text__number {
  font-weight: 600;
}

.filters-box .filters-button-box {
  margin: 5px 0;
}

.filters-box .filters-button {
  width: 100%;
}

.filters-button-box {
  text-align: center;
  margin: 10px;
}

.filters-button-box--hidden {
  display: none;
}

.filters-button {
  text-align: center;
  border: 2px solid #d1d5d9;
  color: #4a4a4a;
  background: none;
  border-radius: 3px;
  padding: 7px 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85714em;
}

.filters-button:focus {
  outline: none;
}

.filters-button:active {
  padding-top: 8px;
  padding-bottom: 6px;
}
