.matchmaking-table-container {
  background: #fff;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;*/
  margin-top: 5px;
  padding: 5px;
}

.matchmaking-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.matchmaking-table td {
  width: 30px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
}