.scale-legend {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.scale-legend circle {
  stroke: #444;
  stroke-width: 1px;
  stroke-dasharray: 2;
  fill: none;
}

.scale-legend line {
  stroke-width: 1px;
  stroke: #ccc;
}

.scale-legend text {
  font-size: 10px;
  color: #4a4a4a;
}
