.scale-legend {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.scale-legend svg {
}

.scale-legend circle {
  stroke: #444;
  stroke-width: 1px;
  stroke-dasharray: 2;
  fill: none;
}

.scale-legend__labels {
  position: absolute;
}

.scale-legend__label {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(0, -50%);
}

.scale-legend__label-line {
  height: 1px;
  background: #ccc;
  flex-shrink: 0;
}

.scale-legend__label-text {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  margin-left: 5px;
  font-size: 10px;
  color: #4a4a4a;
}